@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #363B40;
        color: #b8bfc6;
    }
    a:visited {
        color: green;
    }
    /* Style for unvisited links */
    a:link {
        color: green;
        text-decoration: none; /* Remove underline */
    }

    /* Style for visited links */
    a:visited {
        color: darkgreen;
    }

    /* Style for links on hover */
    a:hover {
        color: limegreen;
        text-decoration: underline; /* Optional: underline on hover */
    }

    /* Style for links that are active (clicked) */
    a:active {
        color: darkolivegreen;
    }
}

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.hazardous {
    color: red;
}

.non-hazardous {
    color: green;
}

